.search {
  position: relative;
  margin: 2px 0 0;
}

.search .search__button {
  width: 40px;
  height: 40px;
  background: red;
  border: 0 none;
  font-size: 200%;
}

.search .search__field {
  position: absolute;
  right: 45px;
  width: 500px;
  height: 40px;
  background: #fafafa;
  opacity: 0;
  top: -1000px;
  transition: top 0s .4s, opacity .4s;
}

.search .search__field--active {
  opacity: 1;
  top: 0;
  transition: top 0s, opacity .4s;
}

.search .search__field input {
  border: 0 none;
  background: none transparent;
  height: 40px;
  width: 100%;
  line-height: 40px;
  padding: 0 15px;
  font-size: 140%;
  font-family: 'Playfair Display';
  color: #222;
}