@import '../colors';

.wrap-all {

  .header {
    float: left;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    
    .header__logo {
      float: left;

      a,
      a:hover {
        color: #222;
        text-decoration: none;
      }

      h1 {
        margin: 0;
        padding: 0;
        font-size: 200%;

        .react {
          color: $color-react-blue;
        }
      }
    }

    .header__navigation {
      float: right;

      .header__navigation__menu {
        float: left;
        margin: 10px 10px 0;

        ul,
        ul li {
          float: left;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        ul li {
          margin: 0 5px;

          a {
            padding: 5px;
            color: #222;
            font-size: 120%;
          }
        }
      }

      .header__navigation__search {
        float: left;
      }
    }
  }
}