.home .list,
.home .list__item {
  width: 100%;
  float: left;
  margin: 15px 0;
  position: relative;
}

.home .list__item__post {
  width: 100%;
  float: left;
  padding-left: 200px;
}

.home .list__item__post h3 {
  font-size: 180%;
  margin: 20px 0;
  font-weight: 900;
}

.home .list__item__format {
  position: absolute;
  top: 40px;
  left: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 4px solid #eee;
}

.home .list__item__format:before,
.home .list__item__format:after {
  content: ' ';
  position: absolute;
  top: -20px;
  height: 20px;
  width:4px;
  left: 50%;
  margin-left: -2px;
  background: none #eee;
}

.home .list__item__format:after {
  top: 100%;
}

.home .list__item--primary__image {
  width: 400px;
  float:left;
}

.home .list__item--primary__post {
  font-size: 115%;
  width: 400px;
  float: right;
}

.home .list__item--primary__post h3 {
  font-size: 200%;
  margin: 20px 0;
  font-weight: 900;
}