.post__meta {
  color: #999;
  font-weight: 900;
}

.post__meta__date,
.post__meta__categories,
.post__meta__tags {
  float: left;
}

.post__meta__categories ul,
.post__meta__categories ul li,
.post__meta__tags ul,
.post__meta__tags ul li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}