$color-background: #fafafa;
$color-text: #222;

$color-react-blue: #61dafb;
$color-react-orange: #cc7a6f;
$color-react-orange-dark: darken($color-react-orange, 10%);

$color-grey-light: #aaa;
$color-grey-medium: #ccc;
