@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Muli:400,400i,700,700i|Playfair+Display:400,400i');
@import url("https://blokkfont-losgordos.netdna-ssl.com/v2/blokkfont.css");

$font-default: Muli, 'Open Sans', sans-serif;
$font-heading: 'Bree Serif';
$font-excerpt: 'Playfair Display', 'Times New Roman', serif;
