@import 'colors';
@import 'fonts';

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Muli:400,400i,700,700i|Playfair+Display:400,400i');

@font-face {
  font-family: 'BLOKK';
  src: url('../assets/BLOKKNeue-Regular.eot');
  src: url('../assets/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/BLOKKNeue-Regular.woff2') format('woff2'),
       url('../assets/BLOKKNeue-Regular.woff') format('woff'),
       url('../assets/BLOKKNeue-Regular.otf') format('opentype'),
       url('../assets/BLOKKNeue-Regular.ttf') format('truetype'),
       url('../assets/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: none $color-background;
  font-size: 14px;
  font-family: $font-default;
  color: $color-text;
  line-height: 1.4;
}

body, div, span, header, footer, main, aside, h1, h2, h3, p, ul, li, input, select, textarea, button, a {
  box-sizing: border-box;
}

h1 {
  font-family: $font-heading;
}

a {
  color: $color-react-orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrap-all {

  &,
  & > .content {
    width: 100%;
    float: left;
  }

  .inner {
    box-sizing: content-box;
    width: 850px;
    margin: 0 0 0 -425px;
    padding: 0 0 0 50%;
  }
}

.loading,
.loading * {
  font-family: $font-blokk !important;
  color: $color-grey-very-light !important;
}
