@import '../colors';

.home {

  .list,
  .list__item {
    width: 100%;
    float: left;
    margin: 15px 0;
    position: relative;
  }

  .list__item {
    padding: 0 20px;

    .list__item__post {
      width: 610px;
      float: left;
      padding: 15px 0 0 40px;
    
      h3 {
        font-size: 180%;
        margin: 0 0 15px;
        font-weight: 900;
      }
    }

    .list__item__image {
      width: 200px;
      height: 150px;
      background: none center center $color-grey-very-light no-repeat;
      background-size: contain;
      float:left;
    }

    .list__item__excerpt {
      width: 100%;
      float: left;
    }
  }

  .list__item--primary {
    padding: 0;
    margin-bottom: 30px;

    .list__item__image {
      width: 400px;
      height: 300px;
      background: none center center $color-grey-very-light no-repeat;
      background-size: contain;
      float:left;
    }

    .list__item__post {
      font-size: 115%;
      width: 440px;
      float: right;

      h3 {
        font-size: 200%;
        margin: 20px 0 10px;
        font-weight: 900;
      }
    }

  }
}